@import '../src/assets/Styles/Header.scss';
@import '../src/assets/Styles/Hero.scss';
@import '../src/assets/Styles/Footer.scss';
@import '../src/assets/Styles/Footer-media.scss';
@import '../src/assets/Styles/Community.scss';
@import '../src/assets/Styles/Community-media.scss';
@import '../src/assets/Styles/Header-media.scss';

@import '../src/assets/Styles/Vacancies.scss';
=======
@import '../src/assets/Styles/Video.scss';
@import '../src/assets/Styles/Vacancies.scss';



* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}
button{
	cursor: pointer;
	border: none;
}
img{
	cursor: pointer;
}
