#addVacan {
	.addVacan {
		display: flex;
		gap: 20px;
		flex-direction: column;

		h1 {
			font-size: 24px;
			letter-spacing: 0.03em;
			color: #191f5d;
		}

		p {
			font-size: 14px;
			letter-spacing: 0.03em;
			color: #191f5d;
			margin-bottom: 40px;
			margin-right: 38px;
		}

		h6 {
			font-size: 14px;
			letter-spacing: 0.03em;
			color: #191f5d;
		}

		span {
			color: #fd6a5a;
		}

		input {
			padding: 12px 16px;
			background: #fff;
			border: 1px solid #e5e5e5;
			box-sizing: border-box;
			transition: all 0.2s;
			width: 500px;
			height: 100px;
		}

		&--inpt {
			display: flex;
			max-width: 1176px;
			margin-bottom: 30px;

			p {
				flex: 1;
				padding-top: 25px;
				padding-left: 18px;
				font-size: 16px;
				letter-spacing: 0.03em;
				color: #a7b0c2;
			}
		}

		select {
			height: 50px;
			width: 300px;
			margin-bottom: 40px;
			background: #fff;
			border: 1px solid #e5e5e5;
			box-sizing: border-box;
			transition: all 0.2s;

			color: #191f5d;
		}

		button {
			background: #e5e5e5;

			width: 200px;
			height: 50px;
			font-weight: 800;
			margin-bottom: 50px;
		}
	}
}
