@media (max-width: 1340px) {
    #header {
        
        .header {
            &--nav {
                width: 55%;
                gap: 6%;
                a {
                    font-size: 14px;
                }
            }
            &--btn {
                width: 130px;
                height: 32px;
            }
        }
    }
}

@media (max-width: 1075px) {
    #header {
        .header {
            &--nav {
                gap: 3%;
            }
            &--btn {
                width: 110px;
                height: 28px;
            }
        }
    }
}

@media (max-width: 920px) {
    #header{
        .header {
            &--nav {
                display: none;
            }
            &--menu {
                display: block;
                margin-left: auto;
                margin-right: 30px;
                svg {
                    font-size: 22px;
                    color: grey;
                }
            }
            &--btn {
                width: 54px;
                height: 28px;   
                button {
                    display: none;
                }
            }
        }
    }
}