#header {
    padding: 30px 0;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        img {
            width: 110px;
        }
        &--nav {
            a {
                font-size: 18px;
                color: black;
                font-weight: 700;
                margin: 0px 35px;
            }
        }
        &--search {
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90px;
                height: 40px;
                border-radius: 4px;
            }
        }
                text-align: center;
        &--icons {
        }
    }
}