.vacancies-event-video{
	display: flex;
	align-items: center;
	gap: 30px;
}

.organizations-content{
		width: 100%;
	height: 83px;
	background: #f1f4f9;
	color: #191f5d;
	font-size: 16px;
	font-weight: 700;
	margin-top: 3px;
}
.organization-jobs-item-field-company{
	display: flex;
align-items: center;
gap: 20px;
}
@media (max-width: 576px) {
    .organization-img{
        margin-bottom: 1px;
    }
}
@media (max-width: 768px) {
  .organization-img{
        margin-bottom: 1px;
    }
}
.information-organization {
	padding: 15px 30px 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	margin-left: 10px;
}
.organization-img {
	height: 50px;
	width: 50px;
}
.information-organization h4 span {
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #a7b0c2;
	margin-bottom: 2px;
}



@media (max-width: 1024px) {
	.add-vacancies {
		margin-left: 46.3pc;
	}
	.information-organization {
		margin-left: 50px;
	}
	.next-page{
		// margin-right: 100px;
		margin-left: 380px;
	}
}

@media (max-width: 992px) {
	.add-vacancies {
		margin-left: 44.5pc;
	}
	.information-organization {
		margin-left: 59px;
	}
	.next-page{
		margin-left: 350px;
	}
}

@media (max-width: 768px) {
	.jobs-content {
		// width: 123%;
		height: 136px;
	}
	.add-vacancies {
		margin-left: 32pc;
	}
	.information-organization {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
		justify-content: space-between;
	}
	.information-img {
		margin-bottom: -65px;
	}
	.organization-jobs-item-field-company h4 {
		margin-left: -5px;
	}
	.jobs-item-field-jobsTitle h4 {
		margin-right: 130px;
	}
	.jobs-item-field-type h4 {
		margin-left: 40px;
	}
		.next-page{
		margin-left: 270px;
	}
}


@media (max-width: 576px) {
	.add-vacancies {
		margin-left: 21pc;
	}
	.jobs-item-field-jobsTitle h4 {
		margin-right: -6px;
	}
		.next-page{
		margin-left: 170px;
	}
}

@media (max-width: 451px) {
	.add-vacancies {
		margin-left: 13.5pc;
	}
	.jobs-content{
		height: 188px;

	}
	.information-organization{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0px;
	}
	    .information img {
        margin-bottom: -25px;
				margin-left: -170px;
    }
		    .jobs-item-field-jobsTitle h4 {
        margin-right: 129px;
    }
		   .jobs-item-field-type h4 {
        margin-left: -220px;
        padding-top: 73px;
    }
		.jobs-item-field-type {
    padding-right: 14px;
}
		
.salary-type {
	gap: 0;
	margin-right: 50px;
	margin-top: -35px;
}
	.next-page{
		margin-left: 100px;
	}
}
