
.jobs-item {
	display: flex;
	background: #f1f4f9;
	color: #191f5d;
	margin-bottom: 2px;
	font-size: 16px;
	letter-spacing: 0.03em;
	font-weight: 700;

}
.content {
	max-width: 1176px;
	margin: 0 auto;
	width: 100%;
	padding: 26px;
	flex: 1;
}
.jobs-item {
	flex: 0 0 70px;
	justify-content: center;
}

.jobs-item {
	padding-right: 20px;
}

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.images {
	width: 32px;
	height: 32px;
	border-radius: 2px;
	margin-top: 3px;
}
.preview {
	background: #000;
	background: linear-gradient(120deg, #222, #4a4a4a 35%, #000);
	position: relative;
	overflow: hidden;
}
.jobs-item {
	display: flex;
	background: #f1f4f9;
	color: #191f5d;
	margin-bottom: 2px;
	font-size: 16px;
	letter-spacing: 0.03em;
	font-weight: 700;
}

.preview span {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.preview img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;

}
img {
	max-height: 100%;
	max-width: 100%;
}
.information {
	display: flex;
	width: 100%;

}
.company {
	flex: 0 0 25%;
}
.jobs-item-field {
	padding-right: 20px;
}
.jobs-item {
	display: flex;
	background: #f1f4f9;
	color: #191f5d;
	margin-bottom: 2px;
	font-size: 16px;
	letter-spacing: 0.03em;
	font-weight: 700;

}
.label {
	display: block;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #a7b0c2;
	margin-bottom: 2px;
}

.jobs-item {
	display: flex;
	background: #f1f4f9;
	color: #191f5d;
	margin-bottom: 2px;
	font-size: 16px;
	letter-spacing: 0.03em;
	font-weight: 700;

}
.position {
	flex: 0 0 30%;
}
.price {
	flex: 0 0 25%;
}
.type {
	flex: 1;
}
